{% extends 'base.html' %}

{% block title %}Comentário{% endblock %}

{% block content %}


<div id="main4" class="block-color" style="text-align: center;">
    {% if user.is_authenticated %}
        <h1>Add Comentário</h1><br>
        <form method="post" class="form-signin">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            {% if field.name == "comentario" %}
                <p>{{field}}</p>
            {% endif %}
            {% if field.name == "leiId" %}
                <p style="display: none;">{{field}}</p>
            {% endif %}
            {% endfor %}
            <button class="btn btn-secundary" type="submit">Comentar</button>
            <button onclick="window.location.href='/'" class="btn btn-primary" style="display: inline;">Home</button>
        </form>
        
        
    {% else %}
        <META http-equiv="refresh" content="0;URL=/"> 
    {% endif %}
    
</div>

{% endblock %}